#e11_2083 { 
	overflow:hidden;
	box-shadow:0px 4px 68px rgba(0, 0, 0, 0.20000000298023224);
	opacity:1;
	width:1820px;
	height:1024px;
	position:absolute;
}
#e11_2084 { 
	overflow:hidden;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:1820px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
#e11_2085 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1820px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}
#e16_0 { 
	opacity:1;
	width:1818px;
	height:1024px;
	position:absolute;
	left:1px;
	top:-1px;
	background-image:url(images/ebitmapblack_2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e11_2087 { 
	opacity:1;
	width:67px;
	height:67px;
	position:absolute;
	left:798px;
	top:299px;
	background-image:url(images/e25231_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e11_2088 { 
	opacity:1;
	width:67px;
	height:67px;
	position:absolute;
	left:799px;
	top:53px;
	background-image:url(images/e60580_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e11_2089 { 
	opacity:1;
	width:67px;
	height:67px;
	position:absolute;
	left:798px;
	top:135px;
	background-image:url(images/ebutton_fill_black_large_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e11_2090 { 
	opacity:1;
	width:67px;
	height:67px;
	position:absolute;
	left:797px;
	top:217px;
	background-image:url(images/e38669_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e11_2091 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:372px;
	height:66px;
	position:absolute;
	left:934px;
	top:49px;
	font-family:Roboto;
	text-align:left;
	font-size:70px;
	letter-spacing:0.9810402393341064;
	line-height:61.9604377746582px;
}
#e11_2092 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:391px;
	height:66px;
	position:absolute;
	left:934px;
	top:217px;
	font-family:Roboto;
	text-align:left;
	font-size:70px;
	letter-spacing:0.9810402393341064;
	line-height:61.9604377746582px;
}
#e11_2093 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:391px;
	height:66px;
	position:absolute;
	left:979px;
	top:304px;
	font-family:Roboto;
	text-align:left;
	font-size:70px;
	letter-spacing:0.9810402393341064;
	line-height:61.9604377746582px;
}
#e11_2098 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1184px;
	height:231px;
	position:absolute;
	left:272px;
	top:506px;
	font-family:Roboto;
	text-align:left;
	font-size:90px;
	letter-spacing:0.9810402393341064;
	line-height:61.9604377746582px;
}
#e11_2099 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1189px;
	height:343px;
	position:absolute;
	left:340px;
	top:681px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:0.9810402393341064;
	line-height:61.9604377746582px;
}
#e11_2100 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:372px;
	height:66px;
	position:absolute;
	left:916px;
	top:55px;
	font-family:Roboto;
	text-align:left;
	font-size:70px;
	letter-spacing:0.9810402393341064;
	line-height:61.9604377746582px;
}
#e11_2101 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:391px;
	height:66px;
	position:absolute;
	left:916px;
	top:223px;
	font-family:Roboto;
	text-align:left;
	font-size:70px;
	letter-spacing:0.9810402393341064;
	line-height:61.9604377746582px;
}
#e11_2102 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:391px;
	height:66px;
	position:absolute;
	left:961px;
	top:310px;
	font-family:Roboto;
	text-align:left;
	font-size:70px;
	letter-spacing:0.9810402393341064;
	line-height:61.9604377746582px;
}
#e11_2103 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:391px;
	height:66px;
	position:absolute;
	left:961px;
	top:133px;
	font-family:Roboto;
	text-align:left;
	font-size:70px;
	letter-spacing:0.9810402393341064;
	line-height:61.9604377746582px;
}
#e11_2109 { 
	opacity:1;
	width:67px;
	height:67px;
	position:absolute;
	left:798px;
	top:299px;
	background-image:url(images/eimage__4__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e11_2105 { 
	opacity:1;
	width:67px;
	height:67px;
	position:absolute;
	left:793px;
	top:53px;
	background-image:url(images/eimage__3__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e11_2106 { 
	opacity:1;
	width:67px;
	height:67px;
	position:absolute;
	left:795px;
	top:135px;
	background-image:url(images/eimage__2__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e11_2108 { 
	opacity:1;
	width:67px;
	height:67px;
	position:absolute;
	left:796px;
	top:217px;
	background-image:url(images/eimage__1__2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e11_2096 { 
	opacity:1;
	width:333px;
	height:333px;
	position:absolute;
	left:368px;
	top:55px;
	border-top-left-radius:75px;
	border-top-right-radius:75px;
	border-bottom-left-radius:75px;
	border-bottom-right-radius:75px;
	background-image:url(images/ewhatsapp_image_2021_02_18_at_09_37_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#contenedor {
	width: 100%;
	margin: center;
  }